body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}
.row-item {
    padding-top: 0.5%;
}
#crystal_title {
    background: rgb(37, 99, 170);
    padding: 3%;
    text-align: center;
}
#crystal_description {
    background: rgb(226, 226, 221);
}
#crystal_description p {
    color: rgb(37, 99, 170);
    padding: 1%;
}
.games {
    flex-wrap: wrap;
    display: flex;
}
.target_score {
    flex: 1;
    padding: 1%;
}